<div class="donate-border">
  Я вложил значительное количество времени, энергии, а также профессиональных знаний и навыков в поиск, качественный перевод и структурированное размещение ценных психологических материалов других авторов, а также в создание собственных статей, курсов и видеоуроков по психологии на этом ресурсе.<br>
  Если эти материалы оказались для вас полезными и вы хотите поддержать дальнейшее развитие проекта, буду искренне признателен за любую финансовую поддержку, которую вы сочтёте возможной.
</div>
<h3 class="center-zag kartapsb"><strong>Kартa ПСБ: </strong><span class="redd">2200 0305 1479 1178</span></h3>
<p class="small">(наведите камеру или нажмите на qr-код)</p>
<div class="flbox">
  <a href="https://pay.cloudtips.ru/p/98403d6a" target="_blank">
    <img src="/img/qr-code-donat-400x300.webp" alt="qr-code-donat" title="qr-code-donat">
  </a>
</div>
