<div class="polit" id="foot">
  <div class="polit-block">
    <a href="/otkaz-ot-otvetstvennosti.html">Отказ от ответственности</a>
    <a href="/politika-konfidentcialnosti.html"><i class="icon-marker"></i> Политика конфиденциальности</a>
  </div>
</div>
<footer>
  <div class="main-footer" id="footer">
    <div class="contaiter">
      <nav class="main-menu footer-menu">
        <ul itemscope itemtype="http://schema.org/SiteNavigationElement">
          <li class="blog__bottom"><a itemprop="url" href="/blog/">Все записи</a></li>
          <li class="osayte"><a itemprop="url" href="/about-site.html">О сайте</a></li>
          <li class="obomne"><a itemprop="url" href="/about-me.html">Обо мне</a></li>
          <li class="karta"><a itemprop="url" href="/site-map.html">Карта сайта</a></li>
          <li class="contacts"><a class="contacts-popup" href="#my-contacts">Контакты и ресурсы</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<footer>
  <div itemscope itemtype="http://schema.org/WPFooter" class="bottom-footer">
    <div class="container text-center">
      <div class="copy-block">{{ "now" | date: "%Y" }} © Диалектическая позитивная психология</div>
      <p></p>
    </div>
  </div>
</footer>
<div id="overlay">
  <div class="popup">
    <p>Я использую куки для наилучшего представления моего сайта. Если Вы продолжите использовать сайт, я буду считать что Вас это устраивает.</p>
    <button class="close" title="Закрыть" onclick="document.getElementById('overlay').style.display='none';">Ok</button>
  </div>
</div>
<div style="display:none;" class="nav_up" id="nav_up"></div>
<div style="display:none;" class="nav_down" id="nav_down"></div>
<div class="hidden">
  <div itemscope itemtype="http://schema.org/WPHeader">
    <meta itemprop="headline" content="Диалектическая позитивная психология">
    <meta itemprop="description" content="Об искусстве жить, опираясь на материалистическую диалектику и позитивную психологию">
  </div>
  <div id="my-contacts">
    <a href="https://vk.com/dial_pos_psych" target="_blank" class="mess-link"><span>Страница Вконтакте</span></a>
    <a href="https://vk.com/dial_pos_psych_com" target="_blank" class="mess-link"><span>Сообщество Вконтакте</span></a>
    <a href="https://dzen.ru/dial_pos_psych" target="_blank" class="mess-link"><span>Канал на Яндекс.Дзен</span></a>
    <a href="https://t.me/dial_pos_psych" target="_blank" class="mess-link"><span>Личный telegram-чат</span></a>
    <a href="https://t.me/dial_pos_psych_ch" target="_blank" class="mess-link"><span>Telegram-канал</span></a>
    <a href="https://boosty.to/dial-pos-psych" target="_blank" class="mess-link"><span>Boosty</span></a>
    <a href="https://www.youtube.com/@dial-pos-psych" target="_blank" class="mess-link"><span>Youtube</span></a>
    <a href="mailto:dial-pos-psych@yandex.ru" class="mess-link"><span>dial-pos-psych@yandex.ru</span></a>
  </div>
</div>
<div id="imageModal" class="image-modal">
  <span class="image-modal-close">&times;</span>
  <img class="image-modal-img" id="modalImage" src="" alt="">
  <div class="image-zoom-controls">
    <button class="image-zoom-btn" id="zoomIn">+</button>
    <button class="image-zoom-btn" id="zoomOut">-</button>
  </div>
</div>
<script src="/js/scripts.min.js"></script>
