---
layout: default
title: "Все материалы сайта"
description: "Все статьи сайта Диалектическая позитивная психология"
permalink: "/blog/"
source_kind: "blog-index"
---

<div class="header-main">
  <div class="header-main_left">
    <a class="header_logo" href="/about-site.html"></a>
    <div class="header-main_left-title">
      <div class="title-block">
        <a href="/about-site.html" target="_blank">
          <h1 class="title-block_name">Диалектическая</h1>
        </a>
        <a href="/about-site.html" target="_blank">
          <h1 class="title-block_prof">позитивная психология</h1>
        </a>
      </div>
    </div>
  </div>
</div>

{% assign latest_posts = site.posts | sort: "date" | reverse %}
{% assign blog_posts_per_page = 9 %}
{% assign blog_total_posts = latest_posts | size %}
{% assign blog_total_pages = blog_total_posts | divided_by: blog_posts_per_page %}
{% assign blog_remainder = blog_total_posts | modulo: blog_posts_per_page %}
{% if blog_remainder > 0 %}
  {% assign blog_total_pages = blog_total_pages | plus: 1 %}
{% endif %}
{% capture blog_first_page_pagination %}
{% if blog_total_pages > 1 %}
<a href="/blog/page2/" class="button">Следующая страница <i class="fa fa-angle-double-right"></i></a>
<div class="pagination">
  <span class="pagination-left" title="Предыдущая страница">&laquo;</span>
  <span class="active">1</span>
  {% for page_num in (2..5) %}
  {% if page_num <= blog_total_pages %}
  <a href="/blog/page{{ page_num }}/" title="{{ page.title }} Страница {{ page_num }}">{{ page_num }}</a>
  {% endif %}
  {% endfor %}
  <a href="/blog/page2/" class="pagination-right" title="Следующая страница">&raquo;</a>
</div>
{% endif %}
{% endcapture %}
<div class="cat-list">
  <div class="container-fluid">
    <div class="ad top-ad"></div>
    <div class="row">
      <div class="col-md-8">
        <div class="all-posts-header">Все материалы сайта</div>
        <div class="cat-list-wrap">
          {% for post in latest_posts limit: blog_posts_per_page %}
          {% assign post_image = post.thumb | default: post.image | default: "" | replace: site.url, "" %}
          <a href="{{ post.url }}" class="cat-list-item">
            <div class="row">
              <div class="col-sm-6">
                {% if post_image != "" %}
                <div class="pattern">
                  <img src="{{ post_image }}" alt="{{ post.title }}" class="img-responsive img-width overlay">
                </div>
                {% endif %}
              </div>
              <div class="col-sm-6">
                {% if post.category_title %}
                <h4 class="category-in-blog zag_gl">{{ post.category_title }}</h4>
                {% endif %}
                <h3 class="zag_gl">{{ post.title }}</h3>
                <div class="date">{{ post.date | date: "%d/%m/%Y" }}</div>
                {% if post.description %}
                <p>{{ post.description }}</p>
                {% endif %}
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        <section class="pagination-section pagination-section-first text-center d-md-none">{{ blog_first_page_pagination }}</section>
      </div>
      <div class="col-md-4">
        {% include sidebars/blog-index.html %}
      </div>
    </div>
    <section class="pagination-section text-center d-none d-md-block">{{ blog_first_page_pagination }}</section>
  </div>
</div>
