---
layout: default
title: "Все материалы сайта"
description: "Все статьи сайта Диалектическая позитивная психология"
permalink: "/blog/"
source_kind: "blog-index"
---

<div class="header-main">
  <div class="header-main_left">
    <a class="header_logo" href="/about-site.html"></a>
    <div class="header-main_left-title">
      <div class="title-block">
        <a href="/about-site.html" target="_blank">
          <h1 class="title-block_name">Диалектическая</h1>
        </a>
        <a href="/about-site.html" target="_blank">
          <h1 class="title-block_prof">позитивная психология</h1>
        </a>
      </div>
    </div>
  </div>
</div>

{% assign latest_posts = site.posts | sort: "date" | reverse %}
<div class="cat-list">
  <div class="container-fluid">
    <div class="ad top-ad"></div>
    <div class="row">
      <div class="col-md-8">
        <div class="all-posts-header">Все материалы сайта</div>
        <div class="cat-list-wrap">
          {% for post in latest_posts limit: 12 %}
          {% assign post_image = post.thumb | default: post.image | default: "" | replace: site.url, "" %}
          <a href="{{ post.url }}" class="cat-list-item">
            <div class="row">
              <div class="col-sm-6">
                {% if post_image != "" %}
                <div class="pattern">
                  <img src="{{ post_image }}" alt="{{ post.title }}" class="img-responsive img-width overlay">
                </div>
                {% endif %}
              </div>
              <div class="col-sm-6">
                {% if post.category_title %}
                <h4 class="category-in-blog zag_gl">{{ post.category_title }}</h4>
                {% endif %}
                <h3 class="zag_gl">{{ post.title }}</h3>
                <div class="date">{{ post.date | date: "%d/%m/%Y" }}</div>
                {% if post.description %}
                <p>{{ post.description }}</p>
                {% endif %}
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4">
        {% include sidebars/blog-index.html %}
      </div>
    </div>
  </div>
</div>
