---
layout: default
---

{% include page-header.html %}

<section class="container-fluid">
  <div class="article-content">
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <article class="main-article">
          {% include page-breadcrumbs.html %}
          <div class="article-body">
            {{ content }}
          </div>
          {% if page.show_donate %}
          {% include donate.html %}
          {% endif %}
        </article>
      </div>
      <div class="col-md-5 col-lg-4">
        {% include sidebars/page.html %}
      </div>
    </div>
  </div>
</section>
