<div class="aside-block">
  <div class="as-header">
    <h4 itemprop="name" class="as-h4"><i class="icon-category"></i>Мои курсы</h4>
  </div>
  <ul class="aside-wrap">
    <li><a class="" href="/blog/ker-course-free/" target="_blank" rel="noopener"><i class="ic-cour2"></i>КУРС ЭФФЕКТИВНОГО РОДИТЕЛЯ</a></li>
    <li><a class="" href="/blog/free-courses-mine/2023-09-28-pos-em-kids.html" target="_blank" rel="noopener"><i class="ic-cour2"></i>КАК ВЫЗЫВАТЬ ПОЛОЖИТЕЛЬНЫЕ ЭМОЦИИ У ДЕТЕЙ</a></li>
    <li><a class="" href="/blog/free-courses-mine/2023-10-09-dev-ch-ab.html" target="_blank" rel="noopener"><i class="ic-cour2"></i>Развитие способностей ребёнка (базовые сведения)</a></li>
  </ul>
</div>
