<div class="aside-block">
  <div class="as-header">
    <h4 itemprop="name" class="as-h4"><i class="icon-category"></i>Позитивная психология</h4>
  </div>
  <ul class="aside-wrap">
    <li><a class="" href="/blog/free-courses-pp/2024-11-07-man-hap-harvard-pp.html" target="_blank" rel="noopener"><i class="ic-cour2"></i>Курс "Управление счастьем" (Гарвард)</a></li>
    <li><a class="" href="/blog/free-courses-pp/2023-07-29-yale-course-pp.html" target="_blank" rel="noopener"><i class="ic-cour2"></i>Курс "Наука о благополучии" (Йель)</a></li>
    <li><a class="" href="/blog/free-courses-pp/2023-07-31-harvard-course-pp.html" target="_blank" rel="noopener"><i class="ic-cour2"></i>Курс "Позитивная психология" (Гарвард)</a></li>
    <li><a class="" href="/blog/free-courses-pp/2023-08-02-chaphill-course-pp.html" target="_blank" rel="noopener"><i class="ic-cour2"></i>Курс "Позитивная психология" (Университет Северной Каролины)</a></li>
    <li><a class="" href="/blog/free-courses-pp/2024-01-14-berkeley-course-pp.html" target="_blank" rel="noopener"><i class="ic-cour2"></i>Курс "Наука о счастье" (Беркли)</a></li>
    <li><a class="" href="/blog/weekly-changes-yale/" target="_blank" rel="noopener"><i class="ic-cour2"></i>«Ваши еженедельные изменения» из курса "Наука о благополучии" (Йель)</a></li>
    <li><a class="" href="/blog/term-hap/" target="_blank" rel="noopener"><i class="ic-cour2"></i>«Термины счастья» из курса "Наука о счастье" (Беркли)</a></li>
    <li><a class="" href="/blog/hap-pactice/" target="_blank" rel="noopener"><i class="ic-cour2"></i>«Практики счастья» из курса "Наука о счастье" (Беркли)</a></li>
  </ul>
</div>
